<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnworks.miniProject.domain.menu.mapper.MenuMapper">

   
	<insert id="save" parameterType="com.hnworks.miniProject.domain.menu.dto.MenuDto">
		INSERT INTO TBMENU
		( 
		  MENU_ID,
		  MENU_NAME,
		  PARENT_ID,
		  MENU_ORDER,
		  MENU_URL,
		  USE_YN
	    ) VALUES ( 
		  #{menuId}, 
		  #{menuName}, 
		  #{parentId}, 
		  #{menuOrder}, 
		  #{menuUrl}, 
		  #{useYn} 
		)
	</insert>
		
  <select id="findAll"  parameterType="com.hnworks.miniProject.domain.menu.dto.MenuDto"  resultType="com.hnworks.miniProject.domain.menu.dto.MenuDto">
    SELECT MENU_ID    AS menuId,
           MENU_NAME  AS menuName,
           MENU_ORDER AS menuOrder,
           MENU_URL   AS menuURL,
           PARENT_ID  AS parentId,
           USE_YN     AS useYn
      FROM TBMENU	 	
  </select>
  
<!--	<select id="findAlldMenu"   resultType="java.util.Map">
		SELECT
		t.MENU_ID AS menuId,
		t.MENU_NAME AS menuName,
		t.MENU_ORDER AS menuOrder,
		t.MENU_URL AS menuURL,
		t.PARENT_ID AS parentId,
		t.USE_YN AS useYn
		FROM TBMENU t		
	</select>-->
</mapper>